body {
  background-color: black;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  text-align: center;
  z-index: 0;
}

h1 {
  font-weight: 400;
  font-size: 2rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-weight: 75;
  font-family: 
}

div {
  z-index: 1;
}


#ball {
  position: absolute;
  cursor: pointer;
  animation: move 100s linear 5s infinite;
}

@import "compass/css3";

@include keyframes(moveInL) {
  0%   { transform: translate(-1000%, 0); }
  100% { transform: translate( 0%, 0); }
}

@include keyframes(moveInR) {
  0%   { transform: translate( 1000%, 0); }
  100% { transform: translate( 0%, 0); }
}

.l {
  animation-name: moveInL;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  //4th digit 1.1 - make a larger num for bigger bounce back.
  //too big will make the motion too quick.
  animation-timing-function: cubic-bezier(1, 1.1, 0, 1);
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.r {
  animation-name: moveInR;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(1, 1.1, 0, 1.1); 
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
